@{
    Layout = "_Layout_Blank";
}
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-6">
            <!-- Reset Password -->
            <div class="card">
                <div class="card-body">

                    <div class="text-center">
                        <img src="~/image/gutter-logo.png" style="width: 90px; height: 45px;" />
                    </div>
                    <p class="mb-6 mt-3 text-center">
                    Enter a new password for<br />
                    wayefa5904@anypng.com
                    </p>
                 
                    <form id="formAuthentication" action="~/Auth/Login/Basic" method="POST">
                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" for="password">New Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                            </div>
                        </div>
                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" for="confirm-password">Confirm Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password" id="confirm-password" class="form-control" name="confirm-password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                            </div>
                        </div>
                        <button asp-action="SuccessChangePassword" asp-controller="Account" class="btn btn-primary d-grid w-100 mb-6">
                            Set Password
                        </button>
                    </form>
                </div>
            </div>
            <!-- /Reset Password -->
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var isSuccess = '@TempData["Success"]' === 'True';
        var isError = '@TempData["Error"]' === 'True';
        var successMessage = '@TempData["SuccessMessage"]';
        var errorMessage = '@TempData["ErrorMessage"]';

        var notyf = new Notyf({
            position: {
                x: 'right',
                y: 'top',
            },
            duration: 3000,
            dismissible: true
        });

        if (isSuccess) {
            notyf.success(successMessage);
        }

        if (isError) {
            notyf.error(errorMessage);
        }
    });
</script>