@{
    Layout = "_Layout_Home";
}
<div class="authentication-wrapper authentication-cover">

    <div class="authentication-inner row m-0">

        <!-- /Left Text -->
        <div class="d-none d-lg-flex col-lg-6 p-0">
            <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
                <img src="~/img/illustrations/auth-verify-email-illustration-light.png" alt="auth-verify-email-cover" class="my-5 auth-illustration" data-app-light-img="illustrations/auth-verify-email-illustration-light.png" data-app-dark-img="illustrations/auth-verify-email-illustration-dark.png">

                <img src="~/img/illustrations/bg-shape-image-light.png" alt="auth-verify-email-cover" class="platform-bg" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.png">
            </div>
        </div>
        <!-- /Left Text -->
        <!-- Register -->
        <div class="d-flex col-12 col-lg-6 align-items-center authentication-bg p-6 p-sm-12">
           
            <div class="w-px-400 mx-auto mt-12 mt-5">
                <div class="text-center mb-3">
                    <img src="~/image/gutter-logo.png" style="width: 90px; height: 45px;" />
                </div>
                <h1 class="text-primary hero-title display-6 fw-extrabold">Great! Verify Your Email.</h1>
                <p class="text-start mb-0">
                    Please verify your email to begin creating stunning proposals on SumoQuote. We just sent you a verification link.
                </p>
                <p class="text-start mb-0 mt-1">
                    Reach us at support@mrgutter.com if you need any help getting started.
                    </p>

                <a class="btn btn-primary w-100 my-6" asp-action="BookDemo" asp-controller="Account">
                    Book a Demo
                </a>
            </div>
        </div>
        <!-- /Register -->
    </div>
</div>

