@{
    Layout = "_Layout_Blank";
}
<style>
    #myVideo{
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    .content-1{
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
        right: 0;
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
    }
</style>
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <video autoplay muted loop id="myVideo">
            <source src="~/image/Home-Page-Hero_3-1.mp4" type="video/mp4">
        </video>
        <div class="content-1">
        <div class="authentication-inner py-6">
            <!-- Login -->
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img src="~/image/logoblack.png" style="height: 45px;" />
                    </div>
                @*     <!-- /Logo -->
                    <h4 class="mb-1">Welcome to Mr. Gutter 👋</h4>
                    <p class="mb-6">Please sign-in to your account and start the adventure</p> *@

                    <form id="formAuthentication" class="mb-4 mt-5" action="~/" method="POST">
                        <div class="mb-6">
                            <label for="email" class="form-label">Email or Username</label>
                            <input type="text" class="form-control" id="email" name="email-username" placeholder="Enter your email or username" autofocus>
                        </div>
                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" for="password">Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                            </div>
                        </div>
                        <div class="my-8">
                            <div class="d-flex justify-content-between">
                                <div class="form-check mb-0 ms-2">
                                    <input class="form-check-input" type="checkbox" id="remember-me">
                                    <label class="form-check-label" for="remember-me">
                                        Remember Me
                                    </label>
                                </div>
                                <a asp-action="ForgotPassword" asp-controller="Account">
                                    <p class="mb-0">Forgot Password?</p>
                                </a>
                            </div>
                        </div>
                        <div class="mb-6">
                                <button class="btn btn-primary d-grid w-100" asp-action="EstimateList" asp-controller="Estimates" type="submit">Login</button>
                        </div>
                    </form>

                    @* <p class="text-center">
                        <span>New on our platform?</span>
                        <a asp-action="CreateAccount" asp-controller="Account">
                            <span>Create an account</span>
                        </a>
                    </p>

                    <div class="divider my-6">
                        <div class="divider-text">or</div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-facebook me-1_5">
                            <i class="tf-icons ti ti-brand-facebook-filled"></i>
                        </a>

                        <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-twitter me-1_5">
                            <i class="tf-icons ti ti-brand-twitter-filled"></i>
                        </a>

                        <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-github me-1_5">
                            <i class="tf-icons ti ti-brand-github-filled"></i>
                        </a>

                        <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-google-plus">
                            <i class="tf-icons ti ti-brand-google-filled"></i>
                        </a>
                    </div> *@
                </div>
            </div>
            <!-- /Register -->
        </div>
        </div>
    </div>
</div>