@{
    Layout = "_Layout_Blank";
}
<style>
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    .content-1 {
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
        right: 0;
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
    }
</style>
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <video autoplay muted loop id="myVideo">
            <source src="~/image/Home-Page-Hero_3-1.mp4" type="video/mp4">
        </video>
        <div class="content-1">
            <div class="authentication-inner py-6">
                <!-- Login -->
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="~/image/logoblack.png" style="height: 45px;" />
                        </div>
                        <h4 class="mb-1 mt-2">
                            <span class="position-relative fw-extrabold z-1">
                                Success!

                            </span>
                            You can now login to the application with the new password.
                        </h4>
                        <div class="mt-2">
                            <a asp-action="EditPassword" asp-controller="Account" class="btn btn-primary">
                                <span><i class="fa-solid fa-user"></i></span><span class="d-none d-md-block">Back to application</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>