@{
    Layout = "_Layout_Blank";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-6">
            <!-- Reset Password -->
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img src="~/image/gutter-logo.png" style="width: 90px; height: 45px;" />
                    </div>
                    <h4 class="mb-1 mt-2">
                        <span class="position-relative fw-extrabold z-1">
                            Success!
                      
                        </span>
                        You can now login to the application with the new password.
                    </h4>
                    <div class="mt-2">
                        <a asp-action="Login" asp-controller="Account" class="btn btn-primary">
                            <span><i class="fa-solid fa-user"></i></span><span class="d-none d-md-block">Sign in Now</span>
                        </a>
                    </div>
                  
                </div>
            </div>
            <!-- /Reset Password -->
        </div>
    </div>
</div>
