@{
    Layout = "_Layout_Main";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-lg-12">
        <div class="swiper-container swiper-container-horizontal swiper swiper-card-advance-bg" id="swiper-with-pagination-cards">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-12 d-flex">
                            <div class="col-4">
                                <h5 class="text-white mb-0">Dashboard</h5>
                            </div>
                            <div class="col-4">
                                @*  <h5 class="text-white mb-0">Dashboard</h5> *@
                            </div>
                            <div class="col-4 text-end">
                                <a class="btn btn-label-primary d-grid w-100 waves-effect">Create new project</a>
                            </div>
                        </div>
                        @*       <div class="row">
                        <div class="col-lg-7 col-md-9 col-12 order-2 order-md-1 pt-md-9">
                        <h6 class="text-white mt-0 mt-md-3 mb-4">Traffic</h6>
                        <div class="row">
                        <div class="col-6">
                        <ul class="list-unstyled mb-0">
                        <li class="d-flex mb-4 align-items-center">
                        <p class="mb-0 fw-medium me-2 website-analytics-text-bg">28%</p>
                        <p class="mb-0">Sessions</p>
                        </li>
                        <li class="d-flex align-items-center">
                        <p class="mb-0 fw-medium me-2 website-analytics-text-bg">1.2k</p>
                        <p class="mb-0">Leads</p>
                        </li>
                        </ul>
                        </div>
                        <div class="col-6">
                        <ul class="list-unstyled mb-0">
                        <li class="d-flex mb-4 align-items-center">
                        <p class="mb-0 fw-medium me-2 website-analytics-text-bg">3.1k</p>
                        <p class="mb-0">Page Views</p>
                        </li>
                        <li class="d-flex align-items-center">
                        <p class="mb-0 fw-medium me-2 website-analytics-text-bg">12%</p>
                        <p class="mb-0">Conversions</p>
                        </li>
                        </ul>
                        </div>
                        </div>
                        </div>
                        <div class="col-lg-5 col-md-3 col-12 order-1 order-md-2 my-4 my-md-0 text-center">
                        <img src="~/img/illustrations/card-website-analytics-1.png" alt="Website Analytics" height="150" class="card-website-analytics-img">
                        </div>
                        </div> *@
                    </div>
                </div>
                @*  <div class="swiper-slide">
                <div class="row">
                <div class="col-12">
                <h5 class="text-white mb-0">Website Analytics</h5>
                <small>Total 28.5% Conversion Rate</small>
                </div>
                <div class="col-lg-7 col-md-9 col-12 order-2 order-md-1 pt-md-9">
                <h6 class="text-white mt-0 mt-md-3 mb-4">Spending</h6>
                <div class="row">
                <div class="col-6">
                <ul class="list-unstyled mb-0">
                <li class="d-flex mb-4 align-items-center">
                <p class="mb-0 fw-medium me-2 website-analytics-text-bg">12h</p>
                <p class="mb-0">Spend</p>
                </li>
                <li class="d-flex align-items-center">
                <p class="mb-0 fw-medium me-2 website-analytics-text-bg">127</p>
                <p class="mb-0">Order</p>
                </li>
                </ul>
                </div>
                <div class="col-6">
                <ul class="list-unstyled mb-0">
                <li class="d-flex mb-4 align-items-center">
                <p class="mb-0 fw-medium me-2 website-analytics-text-bg">18</p>
                <p class="mb-0">Order Size</p>
                </li>
                <li class="d-flex align-items-center">
                <p class="mb-0 fw-medium me-2 website-analytics-text-bg">2.3k</p>
                <p class="mb-0">Items</p>
                </li>
                </ul>
                </div>
                </div>
                </div>
                <div class="col-lg-5 col-md-3 col-12 order-1 order-md-2 my-4 my-md-0 text-center">
                <img src="~/img/illustrations/card-website-analytics-2.png" alt="Website Analytics" height="150" class="card-website-analytics-img">
                </div>
                </div>
                </div>
                <div class="swiper-slide">
                <div class="row">
                <div class="col-12">
                <h5 class="text-white mb-0">Website Analytics</h5>
                <small>Total 28.5% Conversion Rate</small>
                </div>
                <div class="col-lg-7 col-md-9 col-12 order-2 order-md-1 pt-md-9">
                <h6 class="text-white mt-0 mt-md-3 mb-4">Revenue Sources</h6>
                <div class="row">
                <div class="col-6">
                <ul class="list-unstyled mb-0">
                <li class="d-flex mb-4 align-items-center">
                <p class="mb-0 fw-medium me-2 website-analytics-text-bg">268</p>
                <p class="mb-0">Direct</p>
                </li>
                <li class="d-flex align-items-center">
                <p class="mb-0 fw-medium me-2 website-analytics-text-bg">62</p>
                <p class="mb-0">Referral</p>
                </li>
                </ul>
                </div>
                <div class="col-6">
                <ul class="list-unstyled mb-0">
                <li class="d-flex mb-4 align-items-center">
                <p class="mb-0 fw-medium me-2 website-analytics-text-bg">890</p>
                <p class="mb-0">Organic</p>
                </li>
                <li class="d-flex align-items-center">
                <p class="mb-0 fw-medium me-2 website-analytics-text-bg">1.2k</p>
                <p class="mb-0">Campaign</p>
                </li>
                </ul>
                </div>
                </div>
                </div>
                <div class="col-lg-5 col-md-3 col-12 order-1 order-md-2 my-4 my-md-0 text-center">
                <img src="~/img/illustrations/card-website-analytics-3.png" alt="Website Analytics" height="150" class="card-website-analytics-img">
                </div>
                </div>
                </div> *@
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="row">
        <div class="p-5 d-flex justify-content-between gap-3">
            <!-- Open Card -->
            <div class="card col-md-5 p-3">
                <div class="card-body">
                    <div class="text-center text-primary hero-title display-6 fw-extrabold">
                        <div class="divider-text">
                            <span class="position-relative fw-extrabold z-1">
                                $0.00
                                @* <img src="../../theme_assets/img/front-pages/icons/section-title-icon.png"
                                alt="laptop charging"
                                class="section-title-img position-absolute object-fit-contain bottom-0 z-n1" /> *@
                            </span>
                            <h4>Open</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Revenue Card -->
            <div class="card col-md-5 p-3">
                <div class="card-body">
                    <div class="text-center text-primary hero-title display-6 fw-extrabold">
                        <div class="divider-text">
                            <span class="position-relative fw-extrabold z-1">
                                $0.00
                                @* <img src="../../theme_assets/img/front-pages/icons/section-title-icon.png"
                                alt="laptop charging"
                                class="section-title-img position-absolute object-fit-contain bottom-0 z-n1" /> *@
                            </span>
                            <h4>Total revenue won in this selected date range</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center gap-3">
                    <!-- Dropdown Filter -->
                    <div class="col-4 text-end ms-5">

                        <select id="categoryFilter" class="form-select form-select-sm">
                            <option value="">All sales people</option>
                            <option value="1">Smith</option>
                            <option value="2">John</option>
                        </select>
                    </div>

                    <!-- Status Filter -->
                    <div class="col-4 text-end ms-5">

                        <select id="statusFilter" class="form-select form-select-sm">
                            <option value="">Year to date</option>
                            <option value="active">Year to date</option>
                            <option value="inactive">Month to date</option>
                            <option value="active">All time</option>
                            <option value="inactive">Date range</option>


                        </select>
                    </div>
                    <div class="col-3 d-flex text-end ms-5">
                        <div class="col-sm-9 ms-5">
                            <button type="submit" class="btn btn-primary me-4">Search</button>
                            <button type="reset" class="btn btn-label-secondary">Clear</button>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card card-border-shadow-primary h-100">
                <div class="card-body">
                    <div class="text-center">
                        <h4 class="mb-0">0</h4>
                        <h5>New Quotes</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card card-border-shadow-warning h-100">
                <div class="card-body">
                    <div class="text-center">
                        <h4 class="mb-0">0%</h4>
                        <h5>0 Won</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card card-border-shadow-danger h-100">
                <div class="card-body">
                    <div class="text-center">
                        <h4 class="mb-0">0%</h4>
                        <h5>0 Lost</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card card-border-shadow-info h-100">
                <div class="card-body">
                    <div class="text-center">
                        <h4 class="mb-0">0%</h4>
                        <h5>0 Open</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*  csdjsahcsac *@
    <div class="row mt-3">
        <div class="col-xxl-4 col-xl-6 col-lg-12">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between">
                    <div class="card-title mb-0">
                        <h5 class="mb-1">Source Visits</h5>
                        <p class="card-subtitle">38.4k Visitors</p>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-text-secondary rounded-pill text-muted border-0 p-2 me-n1" type="button" id="sourceVisits" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ti ti-dots-vertical ti-md text-muted"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sourceVisits">
                            <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                            <a class="dropdown-item" href="javascript:void(0);">Download</a>
                            <a class="dropdown-item" href="javascript:void(0);">View All</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-6">
                            <div class="d-flex align-items-center">
                                <div class="badge bg-label-secondary text-body p-2 me-4 rounded"><i class="ti ti-shadow ti-md"></i></div>
                                <div class="d-flex justify-content-between w-100 flex-wrap gap-2">
                                    <div class="me-2">
                                        <h6 class="mb-0">Direct Source</h6>
                                        <small class="text-body">Direct link click</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0">1.2k</p>
                                        <div class="ms-4 badge bg-label-success">+4.2%</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-6">
                            <div class="d-flex align-items-center">
                                <div class="badge bg-label-secondary text-body p-2 me-4 rounded"><i class="ti ti-globe ti-md"></i></div>
                                <div class="d-flex justify-content-between w-100 flex-wrap gap-2">
                                    <div class="me-2">
                                        <h6 class="mb-0">Social Network</h6>
                                        <small class="text-body">Social Channels</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0">31.5k</p>
                                        <div class="ms-4 badge bg-label-success">+8.2%</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-6">
                            <div class="d-flex align-items-center">
                                <div class="badge bg-label-secondary text-body p-2 me-4 rounded"><i class="ti ti-mail ti-md"></i></div>
                                <div class="d-flex justify-content-between w-100 flex-wrap gap-2">
                                    <div class="me-2">
                                        <h6 class="mb-0">Email Newsletter</h6>
                                        <small class="text-body">Mail Campaigns</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0">893</p>
                                        <div class="ms-4 badge bg-label-success">+2.4%</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-6">
                            <div class="d-flex align-items-center">
                                <div class="badge bg-label-secondary text-body p-2 me-4 rounded"><i class="ti ti-external-link ti-md"></i></div>
                                <div class="d-flex justify-content-between w-100 flex-wrap gap-2">
                                    <div class="me-2">
                                        <h6 class="mb-0">Referrals</h6>
                                        <small class="text-body">Impact Radius Visits</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0">342</p>
                                        <div class="ms-4 badge bg-label-danger">-0.4%</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-6">
                            <div class="d-flex align-items-center">
                                <div class="badge bg-label-secondary text-body p-2 me-4 rounded"><i class="ti ti-ad ti-md"></i></div>
                                <div class="d-flex justify-content-between w-100 flex-wrap gap-2">
                                    <div class="me-2">
                                        <h6 class="mb-0">ADVT</h6>
                                        <small class="text-body">Google ADVT</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0">2.15k</p>
                                        <div class="ms-4 badge bg-label-success">+9.1%</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="badge bg-label-secondary text-body p-2 me-4 rounded"><i class="ti ti-star ti-md"></i></div>
                                <div class="d-flex justify-content-between w-100 flex-wrap gap-2">
                                    <div class="me-2">
                                        <h6 class="mb-0">Other</h6>
                                        <small class="text-body">Many Sources</small>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0">12.5k</p>
                                        <div class="ms-4 badge bg-label-success">+6.2%</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/ Source Visit -->
        <!-- Projects table -->
        <div class="col-xxl-8">
            <div class="card">
                <div class="card-datatable table-responsive">
                    <table class="datatables-projects table table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Project</th>
                                <th>Leader</th>
                                <th>Team</th>
                                <th class="w-px-200">Progress</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
@*    <div class="row">
      <div class="col-3">
          <div class="card">
              <div class="card-body">
                  <div class="text-center">
                        <div class="divider-text">
                            <span class="position-relative fw-extrabold z-1">
                                $0.00
                                <img src="../../theme_assets/img/front-pages/icons/section-title-icon.png"
                                     alt="laptop charging"
                                     class="section-title-img position-absolute object-fit-contain bottom-0 z-n1" />
                            </span>
                            <h4>Open</h4>
                        </div>
                    </div>

              </div>

          </div>

      </div>

    </div>
 *@