################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MrGutter_Web/FileContentIndex
/.vs/MrGutter_Web/DesignTimeBuild/.dtbcache.v2
/MrGutter.Web/obj/Debug/net6.0/project.razor.vs.bin
/.vs/MrGutter-UI/v17/.wsuo
/.vs/MrGutter-UI/v17/DocumentLayout.json
/MrGutter.Models/obj/Debug/net6.0/MrGutter.Models.AssemblyInfo.cs
/MrGutter.Models/obj/Debug/net6.0/MrGutter.Models.AssemblyInfoInputs.cache
/MrGutter.Models/obj/Debug/net6.0/MrGutter.Models.assets.cache
/MrGutter.Models/obj/Debug/net6.0/MrGutter.Models.GeneratedMSBuildEditorConfig.editorconfig
/MrGutter.Models/obj/MrGutter.Models.csproj.nuget.dgspec.json
/MrGutter.Models/obj/MrGutter.Models.csproj.nuget.g.props
/MrGutter.Models/obj/project.assets.json
/MrGutter.Models/obj/project.nuget.cache
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.AssemblyInfoInputs.cache
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.AssemblyInfo.cs
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.assets.cache
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.csproj.AssemblyReference.cache
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.GeneratedMSBuildEditorConfig.editorconfig
/MrGutter.Repository/obj/MrGutter.Repository.csproj.nuget.dgspec.json
/MrGutter.Repository/obj/MrGutter.Repository.csproj.nuget.g.props
/MrGutter.Repository/obj/project.assets.json
/MrGutter.Repository/obj/project.nuget.cache
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.AssemblyInfo.cs
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.AssemblyInfoInputs.cache
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.assets.cache
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.csproj.AssemblyReference.cache
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.GeneratedMSBuildEditorConfig.editorconfig
/MrGutter.Services/obj/MrGutter.Services.csproj.nuget.dgspec.json
/MrGutter.Services/obj/MrGutter.Services.csproj.nuget.g.props
/MrGutter.Services/obj/project.assets.json
/MrGutter.Services/obj/project.nuget.cache
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.AssemblyInfo.cs
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.AssemblyInfoInputs.cache
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.assets.cache
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.csproj.AssemblyReference.cache
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.GeneratedMSBuildEditorConfig.editorconfig
/MrGutter.Web/obj/MrGutter.Web.csproj.nuget.dgspec.json
/MrGutter.Web/obj/MrGutter.Web.csproj.nuget.g.props
/MrGutter.Web/obj/project.assets.json
/MrGutter.Web/obj/project.nuget.cache
/MrGutter.Web/obj/Debug/net6.0/staticwebassets.pack.json
/.vs/MrGutter_Web/config/applicationhost.config
/.gitignore
/.vs/MrGutter_Web/v17/.suo
/MrGutter.Web/obj/Debug/net6.0/staticwebassets.development.json
/MrGutter.Web/obj/Debug/net6.0/staticwebassets.build.json
/MrGutter.Services/bin/Debug/net6.0/MrGutter.Models.dll
/MrGutter.Services/bin/Debug/net6.0/MrGutter.Models.pdb
/MrGutter.Services/bin/Debug/net6.0/MrGutter.Repository.dll
/MrGutter.Services/bin/Debug/net6.0/MrGutter.Repository.pdb
/.vs/MrGutter_Web/config/applicationhost.config
/.vs/MrGutter_Web/v17/.suo
/MrGutter.Models/bin/Debug/net6.0/MrGutter.Models.dll
/MrGutter.Models/bin/Debug/net6.0/MrGutter.Models.pdb
/MrGutter.Models/obj/Debug/net6.0/ref/MrGutter.Models.dll
/MrGutter.Models/obj/Debug/net6.0/refint/MrGutter.Models.dll
/MrGutter.Models/obj/Debug/net6.0/MrGutter.Models.AssemblyInfo.cs
/MrGutter.Models/obj/Debug/net6.0/MrGutter.Models.AssemblyInfoInputs.cache
/MrGutter.Models/obj/Debug/net6.0/MrGutter.Models.csproj.FileListAbsolute.txt
/MrGutter.Models/obj/Debug/net6.0/MrGutter.Models.dll
/MrGutter.Models/obj/Debug/net6.0/MrGutter.Models.pdb
/MrGutter.Models/obj/Debug/net6.0/MrGutter.Models.sourcelink.json
/MrGutter.Repository/bin/Debug/net6.0/MrGutter.Models.dll
/MrGutter.Repository/bin/Debug/net6.0/MrGutter.Models.pdb
/MrGutter.Repository/bin/Debug/net6.0/MrGutter.Repository.dll
/MrGutter.Repository/bin/Debug/net6.0/MrGutter.Repository.pdb
/MrGutter.Repository/obj/Debug/net6.0/ref/MrGutter.Repository.dll
/MrGutter.Repository/obj/Debug/net6.0/refint/MrGutter.Repository.dll
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.AssemblyInfo.cs
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.AssemblyInfoInputs.cache
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.csproj.AssemblyReference.cache
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.csproj.CoreCompileInputs.cache
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.csproj.FileListAbsolute.txt
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.dll
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.pdb
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.sourcelink.json
/MrGutter.Services/bin/Debug/net6.0/MrGutter.Models.dll
/MrGutter.Services/bin/Debug/net6.0/MrGutter.Models.pdb
/MrGutter.Services/bin/Debug/net6.0/MrGutter.Repository.dll
/MrGutter.Services/bin/Debug/net6.0/MrGutter.Repository.pdb
/MrGutter.Services/bin/Debug/net6.0/MrGutter.Services.dll
/MrGutter.Services/bin/Debug/net6.0/MrGutter.Services.pdb
/MrGutter.Services/obj/Debug/net6.0/ref/MrGutter.Services.dll
/MrGutter.Services/obj/Debug/net6.0/refint/MrGutter.Services.dll
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.AssemblyInfo.cs
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.AssemblyInfoInputs.cache
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.csproj.AssemblyReference.cache
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.csproj.CoreCompileInputs.cache
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.csproj.FileListAbsolute.txt
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.dll
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.pdb
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.sourcelink.json
/MrGutter.Web/bin/Debug/net6.0/MrGutter.Models.dll
/MrGutter.Web/bin/Debug/net6.0/MrGutter.Models.pdb
/MrGutter.Web/bin/Debug/net6.0/MrGutter.Repository.dll
/MrGutter.Web/bin/Debug/net6.0/MrGutter.Repository.pdb
/MrGutter.Web/bin/Debug/net6.0/MrGutter.Services.dll
/MrGutter.Web/bin/Debug/net6.0/MrGutter.Services.pdb
/MrGutter.Web/bin/Debug/net6.0/MrGutter.Web.dll
/MrGutter.Web/bin/Debug/net6.0/MrGutter.Web.exe
/MrGutter.Web/bin/Debug/net6.0/MrGutter.Web.pdb
/MrGutter.Web/bin/Debug/net6.0/MrGutter.Web.staticwebassets.runtime.json
/MrGutter.Web/obj/Debug/net6.0/ref/MrGutter.Web.dll
/MrGutter.Web/obj/Debug/net6.0/refint/MrGutter.Web.dll
/MrGutter.Web/obj/Debug/net6.0/apphost.exe
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.AssemblyInfo.cs
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.AssemblyInfoInputs.cache
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.csproj.AssemblyReference.cache
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.csproj.CoreCompileInputs.cache
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.csproj.FileListAbsolute.txt
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.dll
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.genruntimeconfig.cache
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.pdb
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.sourcelink.json
/MrGutter.Web/obj/Debug/net6.0/staticwebassets.build.json
/MrGutter.Web/obj/Debug/net6.0/staticwebassets.development.json
/MrGutter.Web/obj/Debug/net6.0/staticwebassets.pack.json
/.vs/MrGutter_Web/v17/DocumentLayout.json
/MrGutter.Web/obj/Debug/net6.0/MrGutter.Web.sourcelink.json
/.vs/ProjectEvaluation/mrgutter_web.projects.v7.bin
/.vs/ProjectEvaluation/mrgutter_web.projects.v7.bin
/.vs/ProjectEvaluation/mrgutter_web.metadata.v7.bin
/MrGutter.Models/obj/Debug/net6.0/MrGutter.Models.csproj.CoreCompileInputs.cache
/MrGutter.Models/obj/Debug/net6.0/MrGutter.Models.sourcelink.json
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.sourcelink.json
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.sourcelink.json
/.vs/MrGutter-UI/v17/DocumentLayout.backup.json
/.vs/MrGutter_Web/v17/DocumentLayout.backup.json
/.vs/MrGutter_Web/v17/.futdcache.v2
/.vs/MrGutter_Web/v17/fileList.bin
/.vs/ProjectEvaluation/mrgutter_web.metadata.v9.bin
/.vs/ProjectEvaluation/mrgutter_web.projects.v9.bin
/.vs/ProjectEvaluation/mrgutter_web.strings.v9.bin
/.vs/VSWorkspaceState.json
/.gitignore
/.gitignore
/MrGutter.Models/obj/Debug/net6.0/MrGutter.Models.sourcelink.json
/MrGutter.Repository/bin/Debug/net6.0/MrGutter.Repository.deps.json
/MrGutter.Repository/obj/Debug/net6.0/MrGutter.Repository.sourcelink.json
/MrGutter.Services/bin/Debug/net6.0/MrGutter.Services.deps.json
/MrGutter.Services/obj/Debug/net6.0/MrGutter.Services.sourcelink.json
/MrGutter.Web/bin/Debug/net6.0/MrGutter.Web.deps.json
/.vs/ProjectEvaluation/mrgutter_web.strings.v8.bin
/.vs/ProjectEvaluation/mrgutter_web.metadata.v8.bin
/.vs/ProjectEvaluation/mrgutter_web.projects.v8.bin
/.vs/MrGutter_Web/v17/HierarchyCache.v1.txt
