################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MrGutter_Web/FileContentIndex
/.vs/MrGutter_Web/DesignTimeBuild/.dtbcache.v2
