@{
    Layout = "_Layout_Main";
}

<div class="container-xxl flex-grow-1">
    <div class="col-md-12 container-p-y">
        <div class="card-header d-flex justify-content-between align-items-center row px-1 gap-3 gap-md-0 px-2">
            
<div class="card mb-6">
    <h5 class="card-header">Change Password</h5>
    <div class="card-body pt-1">
        <form id="formAccountSettings" method="POST" onsubmit="return false">
            <div class="row">
                <div class="mb-6 col-md-6 form-password-toggle">
                    <label class="form-label" for="currentPassword">Current Password</label>
                    <div class="input-group input-group-merge">
                        <input class="form-control" type="password" name="currentPassword" id="currentPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                        <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-6 col-md-6 form-password-toggle">
                    <label class="form-label" for="newPassword">New Password</label>
                    <div class="input-group input-group-merge">
                        <input class="form-control" type="password" id="newPassword" name="newPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                        <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                    </div>
                </div>

                <div class="mb-6 col-md-6 form-password-toggle">
                    <label class="form-label" for="confirmPassword">Confirm New Password</label>
                    <div class="input-group input-group-merge">
                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                        <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                    </div>
                </div>
            </div>
            <h6 class="text-body">Password Requirements:</h6>
            <ul class="ps-4 mb-0">
                <li class="mb-4">Minimum 8 characters long - the more, the better</li>
                <li class="mb-4">At least one lowercase character</li>
                <li>At least one number, symbol, or whitespace character</li>
            </ul>
            <div class="mt-6">
                <button type="submit" class="btn btn-primary me-3">Save</button>
                <button type="reset" class="btn btn-label-secondary">Reset</button>
            </div>
        </form>
    </div>
</div>
</div>
        </div>

    </div>

