@{
    Layout = "_Layout_EditOrderLayoutSetting";
    ViewBag.Title = "layout Order";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Scope Of Work</h5>
                <div class="card-body">
                    <div id="full-editor">
                        @* <h6>Scope Of Work</h6> *@ 
                       @*  <p>
                            
                        </p> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
