@{
    Layout = "_Layout_AccountSetting";
    ViewBag.Title = "Template Report";
}

<div class="flex-shrink-1 container-fluid flex-grow-1 container-p-x container-p-y">
    <!-- Handles Example -->
    <div class="Template-demo-wrapper">
        <div class="Template-demo-placeholder">
            <!-- Form with Tabs -->
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-0">
                            Templates — Quote
                        </h4>
                        <!-- Button trigger modal -->
                        <button type="button"
                                class="btn btn-outline-info waves-effect"
                                data-bs-toggle="modal"
                                data-bs-target="#createQuoteTemplate">
                            Create Template
                        </button>
                    </div>
                    <h6>Create and edit reusable templates for your quote</h6>
                    <div class="card mb-6">
                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text" id="basic-addon-search31"><i class="ti ti-search"></i></span>
                                        <input type="text" class="form-control" placeholder="Search by Name" aria-label="Search..." aria-describedby="basic-addon-search31">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-header px-0 pt-0">
                            <div class="nav-align-top">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <button type="button"
                                                class="nav-link active"
                                                data-bs-toggle="tab"
                                                data-bs-target="#form-tabs-personal"
                                                aria-controls="form-tabs-personal"
                                                role="tab"
                                                aria-selected="true">
                                            <span class="ti ti-user ti-lg d-sm-none"></span><span class="d-none d-sm-block">My Template</span>
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button type="button"
                                                class="nav-link"
                                                data-bs-toggle="tab"
                                                data-bs-target="#form-tabs-account"
                                                aria-controls="form-tabs-account"
                                                role="tab"
                                                aria-selected="false">
                                            <span class="ti ti-user-cog ti-lg d-sm-none"></span><span class="d-none d-sm-block">Shared Template</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content p-0">
                                <!-- Personal Info -->
                                <div class="tab-pane fade active show" id="form-tabs-personal" role="tabpanel">
                                    <form>
                                       

                                        <div class="row g-6">

                                            <div class="accordion mt-4" id="accordionExample">

                                              @*   <div class="d-flex justify-content-between align-items-center">
                                                    <h5><b>Reports Available (0)</b></h5>
                                                    <label for="fileUpload" class="btn btn-primary">Upload file</label>
                                                    <input type="file" id="fileUpload" style="display: none;" />
                                                </div> *@

                                                <!--Accordion-->

                                                <div class="card accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button type="button"
                                                                class="accordion-button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#accordionOne"
                                                                aria-expanded="true"
                                                                aria-controls="accordionOne">
                                                            Introduction Templates
                                                        </button>
                                                    </h2>

                                                    <div id="accordionOne"
                                                         class="accordion-collapse collapse"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">

                                                                <div class="col-sm-12 col-form-label text-sm-end">
                                                                    <ul class="list-group list-group-flush">
                                                                        <li class="list-group-item d-flex justify-content-between">
                                                                            <span class="col-sm-7 d-flex justify-content-start">
                                                                                <i class="drag-handle cursor-move ti ti-menu-2 align-text-bottom me-2"></i>
                                                                                <span>(Sample) Residential Metals</span>
                                                                            </span>
                                                                            <span class="col-sm-5 d-flex justify-content-end align-items-center">

                                                                            <span><a href="/Template/ReportTemplate/IntroductionTemplate" title="Edit"><i class="ti ti-lg ti-edit-circle me-2"></i></a></span>
                                                                                <span><a href="#" title="Copy"><i class="ti ti-lg ti-copy-plus text-secondary me-2"></i></a></span>
                                                                                <span><a href="#" title="Delete"><i class="ti ti-lg ti-trash-filled text-danger me-2"></i></a></span>
                                                                            </span>
                                                                        </li>
                                                                        <li class="list-group-item d-flex justify-content-between">
                                                                            <span class="col-sm-7 d-flex justify-content-start">
                                                                                <i class="drag-handle cursor-move ti ti-menu-2 align-text-bottom me-2"></i>
                                                                                <span>(Sample) Interior Painting - General</span>
                                                                            </span>
                                                                            <span class="col-sm-5 d-flex justify-content-end align-items-center">

                                                                            <span><a href="/Template/ReportTemplate/IntroductionTemplate" title="Edit"><i class="ti ti-lg ti-edit-circle me-2"></i></a></span>
                                                                                <span><a href="#" title="Copy"><i class="ti ti-lg ti-copy-plus text-secondary me-2"></i></a></span>
                                                                                <span><a href="#" title="Delete"><i class="ti ti-lg ti-trash-filled text-danger me-2"></i></a></span>
                                                                            </span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                          
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card accordion-item">
                                                    <h2 class="accordion-header" id="headingTwo">
                                                        <button type="button"
                                                                class="accordion-button collapsed"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#accordionTwo"
                                                                aria-expanded="false"
                                                                aria-controls="accordionTwo">
                                                            Quote Details Templates
                                                        </button>
                                                    </h2>
                                                    <div id="accordionTwo"
                                                         class="accordion-collapse collapse"
                                                         aria-labelledby="headingTwo"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">

                                                          @*   <div class="card-body">
                                                                <i>No matching records found.</i>
                                                            </div>
 *@
                                                            <div class="col-sm-12 col-form-label text-sm-end">
                                                                <ul class="list-group list-group-flush">
                                                                    <li class="list-group-item d-flex justify-content-between">
                                                                        <span class="col-sm-7 d-flex justify-content-start">
                                                                            <i class="drag-handle cursor-move ti ti-menu-2 align-text-bottom me-2"></i>
                                                                            <span>(Sample) Residential Metals</span>
                                                                        </span>
                                                                        <span class="col-sm-5 d-flex justify-content-end align-items-center">

                                                                            <span><a href="/Template/ReportTemplate/QuoteDetailTemplate" title="Edit"><i class="ti ti-lg ti-edit-circle me-2"></i></a></span>
                                                                            <span><a href="#" title="Copy"><i class="ti ti-lg ti-copy-plus text-secondary me-2"></i></a></span>
                                                                            <span><a href="#" title="Delete"><i class="ti ti-lg ti-trash-filled text-danger me-2"></i></a></span>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card accordion-item">
                                                    <h2 class="accordion-header" id="headingThree">
                                                        <button type="button"
                                                                class="accordion-button collapsed"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#accordionThree"
                                                                aria-expanded="false"
                                                                aria-controls="accordionThree">
                                                            Authorization Templates
                                                        </button>
                                                    </h2>
                                                    <div id="accordionThree"
                                                         class="accordion-collapse collapse"
                                                         aria-labelledby="headingThree"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="col-sm-12 col-form-label text-sm-end">
                                                                <ul class="list-group list-group-flush">
                                                                    <li class="list-group-item d-flex justify-content-between">
                                                                        <span class="col-sm-7 d-flex justify-content-start">
                                                                            <i class="drag-handle cursor-move ti ti-menu-2 align-text-bottom me-2"></i>
                                                                            <span>(Sample) Residential Metals</span>
                                                                        </span>
                                                                        <span class="col-sm-5 d-flex justify-content-end align-items-center">

                                                                            <span><a href="/Template/ReportTemplate/AuthorizationTemplate" title="Edit"><i class="ti ti-lg ti-edit-circle me-2"></i></a></span>
                                                                            <span><a href="#" title="Copy"><i class="ti ti-lg ti-copy-plus text-secondary me-2"></i></a></span>
                                                                            <span><a href="#" title="Delete"><i class="ti ti-lg ti-trash-filled text-danger me-2"></i></a></span>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card accordion-item">
                                                    <h2 class="accordion-header" id="headingFour">
                                                        <button type="button"
                                                                class="accordion-button collapsed"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#accordionFour"
                                                                aria-expanded="false"
                                                                aria-controls="accordionFour">
                                                            Custom Page Text Templates
                                                        </button>
                                                    </h2>
                                                    <div id="accordionFour"
                                                         class="accordion-collapse collapse"
                                                         aria-labelledby="headingFour"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">

                                                            @* <div class="card-body">
                                                                <i>No matching records found.</i>
                                                            </div> *@
                                                            <div class="col-sm-12 col-form-label text-sm-end">
                                                                <ul class="list-group list-group-flush">
                                                                    <li class="list-group-item d-flex justify-content-between">
                                                                        <span class="col-sm-7 d-flex justify-content-start">
                                                                            <i class="drag-handle cursor-move ti ti-menu-2 align-text-bottom me-2"></i>
                                                                            <span>(Sample) Residential Metals</span>
                                                                        </span>
                                                                        <span class="col-sm-5 d-flex justify-content-end align-items-center">

                                                                            <span><a href="/Template/ReportTemplate/CustomPageTextTemplate" title="Edit"><i class="ti ti-lg ti-edit-circle me-2"></i></a></span>
                                                                            <span><a href="#" title="Copy"><i class="ti ti-lg ti-copy-plus text-secondary me-2"></i></a></span>
                                                                            <span><a href="#" title="Delete"><i class="ti ti-lg ti-trash-filled text-danger me-2"></i></a></span>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card accordion-item">
                                                    <h2 class="accordion-header" id="headingFive">
                                                        <button type="button"
                                                                class="accordion-button collapsed"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#accordionFive"
                                                                aria-expanded="false"
                                                                aria-controls="accordionFive">
                                                            Email Templates
                                                        </button>
                                                    </h2>
                                                    <div id="accordionFive"
                                                         class="accordion-collapse collapse"
                                                         aria-labelledby="headingFive"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="col-sm-12 col-form-label text-sm-end">
                                                                <ul class="list-group list-group-flush">
                                                                    <li class="list-group-item d-flex justify-content-between">
                                                                        <span class="col-sm-7 d-flex justify-content-start">
                                                                            <i class="drag-handle cursor-move ti ti-menu-2 align-text-bottom me-2"></i>
                                                                            <span>(Sample) Residential Metals</span>
                                                                        </span>
                                                                        <span class="col-sm-5 d-flex justify-content-end align-items-center">

                                                                            <span><a href="/Template/ReportTemplate/EmailTemplate" title="Edit"><i class="ti ti-lg ti-edit-circle me-2"></i></a></span>
                                                                            <span><a href="#" title="Copy"><i class="ti ti-lg ti-copy-plus text-secondary me-2"></i></a></span>
                                                                            <span><a href="#" title="Delete"><i class="ti ti-lg ti-trash-filled text-danger me-2"></i></a></span>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card accordion-item">
                                                    <h2 class="accordion-header" id="headingSix">
                                                        <button type="button"
                                                                class="accordion-button collapsed"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#accordionSix"
                                                                aria-expanded="false"
                                                                aria-controls="accordionSix">
                                                            Invoice Email Templates
                                                        </button>
                                                    </h2>
                                                    <div id="accordionSix"
                                                         class="accordion-collapse collapse"
                                                         aria-labelledby="headingSix"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">

                                                            <div class="card-body">
                                                                <i>You don't have any invoice email templates. Create one now!.</i>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- /Accordion-->
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                <!-- Account Details -->
                                <div class="tab-pane fade" id="form-tabs-account" role="tabpanel">
                                    <form>
                                        <div class="row g-6">

                                            <div class="accordion mt-4" id="accordionExample">

                                                @*   <div class="d-flex justify-content-between align-items-center">
                                                <h5><b>Reports Available (0)</b></h5>
                                                <label for="fileUpload" class="btn btn-primary">Upload file</label>
                                                <input type="file" id="fileUpload" style="display: none;" />
                                                </div> *@

                                                <!--Accordion-->

                                                <div class="card accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button type="button"
                                                                class="accordion-button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#accordionOne"
                                                                aria-expanded="true"
                                                                aria-controls="accordionOne">
                                                            Introduction Templates
                                                        </button>
                                                    </h2>

                                                    <div id="accordionOne"
                                                         class="accordion-collapse collapse"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">

                                                                <div class="col-sm-12 col-form-label text-sm-end">
                                                                    <ul class="list-group list-group-flush">



                                                                        <li class="list-group-item d-flex justify-content-between">
                                                                            <span class="col-sm-7 d-flex justify-content-start">
                                                                                <i class="drag-handle cursor-move ti ti-menu-2 align-text-bottom me-2"></i>
                                                                                <span>(Sample) Residential Metals</span>
                                                                            </span>
                                                                            <span class="col-sm-5 d-flex justify-content-end align-items-center">

                                                                            <span><a href="/Template/ReportTemplate/IntroductionTemplate" title="Edit"><i class="ti ti-lg ti-edit-circle me-2"></i></a></span>
                                                                                <span><a href="#" title="Copy"><i class="ti ti-lg ti-copy-plus text-secondary me-2"></i></a></span>
                                                                                <span><a href="#" title="Delete"><i class="ti ti-lg ti-trash-filled text-danger me-2"></i></a></span>
                                                                            </span>
                                                                        </li>
                                                                        <li class="list-group-item d-flex justify-content-between">
                                                                            <span class="col-sm-7 d-flex justify-content-start">
                                                                                <i class="drag-handle cursor-move ti ti-menu-2 align-text-bottom me-2"></i>
                                                                                <span>(Sample) Interior Painting - General</span>
                                                                            </span>
                                                                            <span class="col-sm-5 d-flex justify-content-end align-items-center">

                                                                            <span><a href="/Template/ReportTemplate/IntroductionTemplate" title="Edit"><i class="ti ti-lg ti-edit-circle me-2"></i></a></span>
                                                                                <span><a href="#" title="Copy"><i class="ti ti-lg ti-copy-plus text-secondary me-2"></i></a></span>
                                                                                <span><a href="#" title="Delete"><i class="ti ti-lg ti-trash-filled text-danger me-2"></i></a></span>
                                                                            </span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card accordion-item">
                                                    <h2 class="accordion-header" id="headingTwo">
                                                        <button type="button"
                                                                class="accordion-button collapsed"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#accordionTwo"
                                                                aria-expanded="false"
                                                                aria-controls="accordionTwo">
                                                            Quote Details Templates
                                                        </button>
                                                    </h2>
                                                    <div id="accordionTwo"
                                                         class="accordion-collapse collapse"
                                                         aria-labelledby="headingTwo"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">

                                                            <div class="card-body">
                                                                <i>No matching records found.</i>
                                                            </div>



                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card accordion-item">
                                                    <h2 class="accordion-header" id="headingThree">
                                                        <button type="button"
                                                                class="accordion-button collapsed"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#accordionThree"
                                                                aria-expanded="false"
                                                                aria-controls="accordionThree">
                                                            Authorization Templates
                                                        </button>
                                                    </h2>
                                                    <div id="accordionThree"
                                                         class="accordion-collapse collapse"
                                                         aria-labelledby="headingThree"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">

                                                            <div class="card-body">
                                                                <i>No matching records found.</i>
                                                            </div>



                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card accordion-item">
                                                    <h2 class="accordion-header" id="headingFour">
                                                        <button type="button"
                                                                class="accordion-button collapsed"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#accordionFour"
                                                                aria-expanded="false"
                                                                aria-controls="accordionFour">
                                                            Custom Page Text Templates
                                                        </button>
                                                    </h2>
                                                    <div id="accordionFour"
                                                         class="accordion-collapse collapse"
                                                         aria-labelledby="headingFour"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">

                                                            <div class="card-body">
                                                                <i>No matching records found.</i>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card accordion-item">
                                                    <h2 class="accordion-header" id="headingFive">
                                                        <button type="button"
                                                                class="accordion-button collapsed"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#accordionFive"
                                                                aria-expanded="false"
                                                                aria-controls="accordionFive">
                                                            Email Templates
                                                        </button>
                                                    </h2>
                                                    <div id="accordionFive"
                                                         class="accordion-collapse collapse"
                                                         aria-labelledby="headingFive"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">

                                                            <div class="card-body">
                                                                <i>No matching records found.</i>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card accordion-item">
                                                    <h2 class="accordion-header" id="headingSix">
                                                        <button type="button"
                                                                class="accordion-button collapsed"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#accordionSix"
                                                                aria-expanded="false"
                                                                aria-controls="accordionSix">
                                                            Invoice Email Templates
                                                        </button>
                                                    </h2>
                                                    <div id="accordionSix"
                                                         class="accordion-collapse collapse"
                                                         aria-labelledby="headingSix"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="card-body">
                                                                <i>No matching records found.</i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- /Accordion-->
                                            </div>

                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                   

                </div>
            </div>

            <!-- Vertically Centered Modal -->
            <!-- Modal -->
            <div class="modal fade" id="createQuoteTemplate" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Create Quote Template</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col mb-4">
                                    <label for="nameWithTitle" class="form-label">Template Name</label>
                                    <input type="text"
                                           id="nameWithTitle"
                                           class="form-control"
                                           placeholder="Enter Template Name" required />
                                </div>
                            </div>
                            <div class="row g-4">
                                <div class="col mb-4">
                                    <label for="nameWithTitle" class="form-label">Template Type</label>
                                <select class="form-select" id="basic-default-country" required="">
                                    <option value="">Select Template Type</option>
                                    <option value="usa">Introduction Template</option>
                                    <option value="uk">Quote Details Template</option>
                                    <option value="france">Authorization Template</option>
                                    <option value="australia">Custom Page Text Template</option>
                                    <option value="spain">Email Template</option>
                                    <option value="spain">Invoice Email Template</option>
                                   
                                </select>
                                </div>
                            </div>

                            <div class="row g-4">
                                <div class="col mb-0">
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <input class="form-check-input mt-0"
                                                   type="checkbox"
                                                   value=""
                                                   aria-label="Checkbox for following text input" />
                                        </div>
                                        <label class="form-control">Share Template with all users</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">Create Template</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Handles Example ends -->
</div>
