@{
    Layout = "_Layout_Main";

}
<style>
    .bg-light-gradient {
        background: linear-gradient(135deg, #fff1eb, #2E7DB3); /* New gradient colors: Soft peach to light sky blue */
        color: #333; /* Ensures text readability */
        border-radius: 8px;
    }


        .bg-light-gradient .card-body {
            background: none; /* Ensures the card body inherits the parent gradient */
        }
        
</style>
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-lg-12">
        @* <div class="swiper-container swiper-container-horizontal swiper swiper-card-advance-bg" id="swiper-with-pagination-cards">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-12 d-flex">
                            <div class=" text-center">
                                <h5 class="text-white mb-0">This page determines default branding and design for your team's Reports.</h5>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div> *@
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">This page determines default branding and design for your team's Reports.</h5>
                    <div class="">
                        <button class="btn btn-primary btn-sm me-2 add-btn">Save</button>
                        <button class="btn btn-secondary btn-sm add-btn">Discard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="card p-5">
            <div class="row g-3 d-flex justify-content-center mb-1">

            <div class="col-md-2 mb-md-0 mb-5">
                <div class="form-check custom-option custom-option-icon checked">
                    <label class="form-check-label custom-option-content" for="customRadioIcon1">
                        <span class="text-center">
                                <img src="~/image/Template1.png" style="width:188px" class="img-fluid mb-2" />
                        </span>
                        <input name="customOptionRadioIcon" class="form-check-input" type="radio" value="" id="customRadioIcon1" checked="">
                    </label>
                </div>
            </div>
            <div class="col-md-2 mb-md-0 mb-5">
                <div class="form-check custom-option custom-option-icon checked">
                    <label class="form-check-label custom-option-content" for="customRadioIcon1">
                        <span class="text-center">
                                <img src="~/image/Template2.png" style="width:188px" class="img-fluid mb-2" />
                        </span>
                        <input name="customOptionRadioIcon" class="form-check-input" type="radio" value="" id="customRadioIcon1" checked="">
                    </label>
                </div>
            </div>
            <div class="col-md-2 mb-md-0 mb-5">
                <div class="form-check custom-option custom-option-icon checked">
                    <label class="form-check-label custom-option-content" for="customRadioIcon1">
                        <span class="text-center">
                                <img src="~/image/Template3.png" style="width:188px" class="img-fluid mb-2" />
                        </span>
                        <input name="customOptionRadioIcon" class="form-check-input" type="radio" value="" id="customRadioIcon1" checked="">
                    </label>
                </div>
            </div>
            <div class="col-md-2 mb-md-0 mb-5">
                <div class="form-check custom-option custom-option-icon checked">
                    <label class="form-check-label custom-option-content" for="customRadioIcon1">
                        <span class="text-center">
                                <img src="~/image/Template4.png" style="width:188px" class="img-fluid mb-2" />
                        </span>
                        <input name="customOptionRadioIcon" class="form-check-input" type="radio" value="" id="customRadioIcon1" checked="">
                    </label>
                </div>
            </div>
            <div class="col-md-2 mb-md-0 mb-5">
                <div class="form-check custom-option custom-option-icon checked">
                    <label class="form-check-label custom-option-content" for="customRadioIcon1">
                        <span class="text-center">
                                <img src="~/image/Template5.png" style="width:188px" class="img-fluid mb-2" />
                        </span>
                        <input name="customOptionRadioIcon" class="form-check-input" type="radio" value="" id="customRadioIcon1" checked="">
                    </label>
                </div>
            </div>
            <div class="col-md-2 mb-md-0 mb-5">
                <div class="form-check custom-option custom-option-icon checked">
                    <label class="form-check-label custom-option-content" for="customRadioIcon1">
                        <span class="text-center">
                                <img src="~/image/Template6.png" style="width:188px" class="img-fluid mb-2" />
                        </span>
                        <input name="customOptionRadioIcon" class="form-check-input" type="radio" value="" id="customRadioIcon1" checked="">
                    </label>
                </div>
            </div>

        </div>
        </div>
        @* <div class="row g-3 mt-5 d-flex justify-content-center mb-1">
            <div class="col-lg-2 col-6 ms-5">
                <div class="card h-100 position-relative">
                    <div class="card-body text-center">
                        <img src="~/image/onbordingtheme.png" style="width:188px" class="img-fluid" />
                    </div>

                    <div class="d-flex justify-content-center pb-4">
                        <button class="btn btn-primary btn-sm me-2 col-md-4 add-btn">Add</button>
                        <button class="btn btn-danger btn-sm col-md-4 remove-btn" disabled>Remove</button>
                    </div>

                </div>
            </div>
           </div> *@
    </div>

    <div class="row mx-0 mt-4">
    <div class="col-6 ">
        <div class="">
            <div class="row d-flex justify-content-center gx-0 gy-4 g-lg-5">
                <!-- Basic  -->
                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-header">Company Logo</h5>
                            <div class="px-4 d-flex justify-content-center">
                                <form action="/upload" class="dropzone needsclick w-100 rounded p-5" id="dropzone-basic">

                                    <div class="dz-message needsclick">
                                        Drop files here or click to upload <br />
                                        <span class="note needsclick">
                                            (This is just a demo dropzone. Selected files are
                                            <span class="fw-medium">not</span> actually uploaded.)
                                        </span>
                                    </div>
                                    <div class="fallback">
                                        <input name="file" type="file" />
                                    </div>

                                </form>
                            </div>
                            <div class="d-flex ps-4 mb-1">
                                <a href="#" class="text-primary pointer-events">Don't have your logo?</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="border-top mt-2 mx-4"><h5 class="card-header pb-0 pt-2">Brand Colors</h5></div>

                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form>
                                            <label for="myColor" class="form-label">Primary</label>
                                            <input type="color" class="form-control form-control-color w-100" id="primaryColor" value="#13296C" title="Choose a color">
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <form>
                                            <label for="myColor" class="form-label">Secondary</label>
                                            <input type="color" class="form-control form-control-color w-100" id="secondaryColor" value="#CCCCCC" title="Choose a color">
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-12 mb-3">
                            <button class="btn btn-primary btn-sm me-2 add-btn">Apply</button>
                            <button class="btn btn-danger btn-sm me-2 add-btn">Dismiss</button>


                        </div>
                    </div>


                </div>
                <!-- /Basic  -->
            </div>
        </div>

    </div>


    <div class="row col-6 mx-0 pe-0">
        <div class="px-0">
            <div class="card h-100">
                <div class="card-body">
                    <h4>Account Details</h4>
                    <span>Provide information about your company, these details will appear on title pages.</span>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label class="form-label">Account Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6 mb-4">
                            <label class="form-label">Company email</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6 mb-4">
                            <label class="form-label">Company phone</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6 mb-4">
                            <label class="form-label">Business number</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6 mb-4">
                            <label class="form-label">Web address</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="col-md-6 mb-4">
                            <label class="form-label">We can help you with<i class="fas fa-edit ms-2"></i></label>
                            <input type="" class="form-control" placeholder="Roofing, Siding, Gutters">
                            <input type="" class="form-control mt-2" placeholder="Residential & Commercial">
                        </div>
                    </div>



                    <button type="submit" class="btn btn-primary d-grid ">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
