@{
    Layout = "_Layout_Blank";
}
<div class="row p-5">
    <div class="col-12">
        <div class="card">
            <div class="card-body demo-vertical-spacing demo-only-element">
                <div class="row">
                    <div class="col-7">
                        <img src="~/img/logo/mr.quote_testblack.png" style="width:206px" />
                    </div>
                    <div class="col-2">
                        <div>
                            <div>Customer Name</div>
                            <div class="mt-1">Address</div>
                            <div class="mt-1">Project No.</div>
                        </div>
                        
                    </div>
                    <div class="col-3">
                                <div><strong>Robert Sled</strong></div>
                        <div class="mt-1">75 South Street Granby, MA 01033</div>
                        <div class="mt-1">1045643019</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="title"><strong>Select one of the options below</strong></h5>
                <div class="row mt-2">
                 
                        <div class="col-lg-4 col-sm-6">
                            <div class="card card-border-shadow-primary h-100">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="p-5">
                                            <input class="form-check-input" type="radio" />
                                            </div>
                                        </div>
                                    <div class="col-8">
                                        <div class="mt-1">
                                         <h5><strong>Option A</strong></h5>
                                        </div>
                                        <div>
                                            <p><strong>$4065.60</strong></p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card card-border-shadow-warning h-100">
                                <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="p-5">
                                            <input class="form-check-input" type="radio" />
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="mt-1">
                                            <h5><strong>Option B</strong></h5>
                                        </div>
                                        <div>
                                            <p><strong>$4287.60</strong></p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card card-border-shadow-danger h-100">
                                <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="p-5">
                                            <input class="form-check-input" type="radio" />
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="mt-1">
                                            <h5><strong>Option C</strong></h5>
                                        </div>
                                        <div>
                                            <p><strong>$11699.50</strong></p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                   

                    </div>
                </div>
            </div>

        </div>
    </div>
