@{
    Layout = "_Layout_ProductAndPricing";
    ViewBag.Title = "Product List";
}

<div class="flex-grow-1 container-p-y pt-0">
   <div class="card mt-5">
       <div class="card-body">
           <div class="row">
               <div class="text-center">
                    <label>There are no items available in this price list. Add an item from the product list now!</label>
               </div>
               <div class="text-center mt-5">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#fullscreenModal" class="btn btn-primary waves-effect waves-light">Add Item</button>
               </div>

           </div>
       </div>
   </div> 

</div>
<div class="modal fade" id="fullscreenModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFullTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="mt-1">
            </div>
            <div class="modal-body">
            
                <div class="">
                    <div class="card">
                        <div>
                            <div class="card-body pb-0">
                                <h5 class="mb-0">Product List (default pricing)</h5>
                                <label>Search SumoQuote for a product you'd like to link to <strong>ABC</strong>.</label>

                            </div>
                        </div>
                        <hr />
                        <div class="card-datatable table-responsive">
                            <table class="datatables-defaultpricing table">
                                <thead class="border-top bg-menu-theme text-white">
                                    <tr>
                                        <th class="text-white"></th>
                                        @*            <th class="text-white"></th>
                                        *@
                                        <th class="text-white"></th>
                                        <th class="text-white w-100">Name</th>
                                        <th class="text-white">Description</th>
                                        <th class="text-white"> Price</th>
                                        <th class="text-white"> Unit</th>
                                        <th class="text-white"></th>
                                        <th class="text-white"></th>
                                        @* <th class="text-white">Role</th>
                                        <th class="text-white">Status</th> *@
                                        <th class="text-white"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <hr />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Add Item</button>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>